#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=App Launcher for Inbox by Gmail App
Exec=/opt/google/chrome/google-chrome --profile-directory=Default --app-id=ajjmenfgmbpceneffopmikhahnkeebje
Icon=chrome-ajjmenfgmbpceneffopmikhahnkeebje-Default
StartupWMClass=crx_ajjmenfgmbpceneffopmikhahnkeebje
