#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=TeamViewer
Exec=/opt/google/chrome/google-chrome "--profile-directory=Profile 1" --app-id=oooiobdokpcfdlahlmcddobejikcmkfo
Icon=chrome-oooiobdokpcfdlahlmcddobejikcmkfo-Profile_1
StartupWMClass=crx_oooiobdokpcfdlahlmcddobejikcmkfo
