#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=TeamViewer
Exec=/opt/google/chrome/google-chrome --profile-directory=Default --app-id=oooiobdokpcfdlahlmcddobejikcmkfo
Icon=chrome-oooiobdokpcfdlahlmcddobejikcmkfo-Default
StartupWMClass=crx_oooiobdokpcfdlahlmcddobejikcmkfo
