[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/nabommersbach@psd371.org/docs]
row=3
col=0

[/home/nabommersbach@psd371.org/pic-window-210915-1106-25.png]
row=4
col=0

[/home/nabommersbach@psd371.org/ssh]
row=4
col=1

[/home/nabommersbach@psd371.org/dl]
row=6
col=0

[/home/nabommersbach@psd371.org/pics]
row=8
col=0

[/home/nabommersbach@psd371.org/vimwiki]
row=5
col=0

[/home/nabommersbach@psd371.org/vids]
row=7
col=0

[Trash]
row=3
col=1

[/]
row=2
col=1

[/home/nabommersbach@psd371.org]
row=2
col=0

